div {
  box-sizing: border-box;
}

.container {
  margin: 0px auto 50px auto;
  width: 50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

@media (max-width: 1000px) {
  .container {
    margin: 0px auto 50px auto;
    width: 90%;
  }
}

.chart {
  position: relative;
  border: 1px solid silver;
  height: 500px;
}

.chart .label {
  padding: 0 0 0 10px;
  top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chart .label-text {
  padding-left: 15px;
  line-height: 12px;
}

.chart .label-value {

}

.line.chart .dot {
  background-color: #fbb977;
  border: 2px white solid;
}

.line.chart .dot.hover {
  background-color: skyblue;
}

.line.chart .line {
  background-color: #fbb977;
}

.bar.chart .bar {
  background-color: #fbb977;
  padding: 0 0 0 10px;
}

.bar.chart .bar.hover {
  background-color: skyblue;
}

.bar2d.chart .bar {
  background-color: #fbb977;
}

.bar2d.chart .bar.hover {
  background-color: skyblue;
}

.bar2d.chart .label {
  font-size: 18px;
}

.bubble.chart .node {
  border: 1px solid silver;
  background-color: #fbb977;
}

.bubble.chart .node.hover {
  border: 1px solid silver;
  background-color: skyblue;
}

.bubble.chart .value {
}

.bubble.chart .top{
  display: none;
}